.container {
    display: flex;
    justify-content: space-around;
    font-size: 10em;
    font-family: sans-serif;
    align-items: center;
    max-width: 1000px;
    margin: 0 auto;
}

.container p {
    margin: 0px;
}

#ans {
    font-size: 150px;
    width: 335px;
    height: 200px;
    line-height: 2;
}