  .mainContainer {  
    margin-top: 250px;
    align-items: center;
     }
  #pauseBtn,#stopBtn ,#startBtn
  {
    padding: 11px 40px;
    border-radius: 10px;
    background-color: #e2e2e2;
    color: Black;
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
   border: transparent;
   font-weight: 800;
   margin-left: 10px;
  }
  h1
  {
    text-align: center;
    font-size: 120px;
    display: inline-block;
    margin-bottom: 40px;
    font-family: 'Roboto', sans-serif;
}
 .btn
 {
  display: flex;
  justify-content: center;
  
  }
 .sub
 {
   height: 99%;
  border: 2px transparent;
 
 }